* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Evita conflictos de fin de línea entre Windows 11 y CachyOS Linux.
*.php text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
